.empty-container {
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  .children-container {
    flex-direction: column;
    padding: 3rem 0;
    .empty-text {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin: 16px;
      height: 100%;
      font-size: 16px;
      color: #488afa;
      font-weight: 700;
    }
    .empty-img {
      width: 150px;
      height: 150px;
      img {
        object-fit: cover;
        width: 100%;
      }
    }
  }
}
.electronic {
  display: none;
}
