.face-record {
  margin-top: 2rem;
  margin-bottom: 2rem;

  .ant-col {
    display: flex;
    justify-content: center;
  }

  .record-item {
    align-items: center;
    width: 165px;
    padding: 1rem;
    border: 2px solid #f7f7f7 !important;
    border-radius: 5px !important;
    cursor: pointer;

    .ant-typography {
      font-weight: 700;
      font-size: 12px;
      color: #544f5a;
    }

    .time-text {
      font-weight: 500;
      color: #909090;
    }

    &:hover {
      transform: scale(0.98);
      transition: all 0.2s ease;
    }
  }
}
